.card-container {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    flex-wrap: wrap; /* Allow wrapping to multiple lines */
    justify-content: center; /* Center cards horizontally */
}

.center-align {
    text-align: center;
}