<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <h1 class="center-align">Characters</h1>
  <div class="card-container">
    <app-character-card cardTitle="Devil Fruit" [characters]="fruitUsers" [refreshSignal]="isRefreshing"></app-character-card>
    <app-character-card cardTitle="Devil Fruit Mastery" [characters]="fruitUsers" [refreshSignal]="this.isRefreshing"></app-character-card>
    <app-character-card cardTitle="Haki" [characters]="hakiUsers" [refreshSignal]="isRefreshing"></app-character-card>
    <app-character-card cardTitle="Combat Skill" [characters]="allCharacters" [refreshSignal]="isRefreshing"></app-character-card>
    <app-character-card cardTitle="Strength" [characters]="allCharacters" [refreshSignal]="isRefreshing"></app-character-card>
    <app-character-card cardTitle="Mind" [characters]="allCharacters" [refreshSignal]="isRefreshing"></app-character-card>
  </div>
  <div class="center-align">
    <button mat-raised-button color="primary" (click)="refresh()">Refresh</button>
  </div>
</body>
</html>